body, table{
    background-color: #f4f4f4;
    padding: 70px 0 0 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

 .checkbox, .radio {
    margin-top: 0px;
    margin-bottom: 7px;
}

.checkbox label::after {
    font-size: 20px;
    width: 26px;
    height: 26px;
}

.checkbox label::before {
    width: 27px;
    height: 27px;
}

.checkbox label {
    padding-left: 15px;
    font-size: 19px;
}

div.data-field {
    border: 1px solid #B0B0B0;
    margin: 10px;
    padding: 10px;
}

table.task_list td, th {
    vertical-align: middle !important;
}

table.task_list td > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.task_list td:nth-child(2), table.task_list td:nth-child(3), table.task_list td:nth-child(4) {
    padding-left: 10px;
}

table.task_list td:nth-child(5), table.task_list td:nth-child(6) {
    text-align: center;
}

table.add-task td{
    padding: 10px;
}

table.add-task td#id_topic {
    width: 200px;
}

table.task_list th:first-child.col-md-1-id {
    width: 1%;
}

h3.lesson-passed {
    margin-top: 0 !important;
    margin-bottom: 2px !important;
    text-align: center !important;
}

div.error-block {
    color: red;
}

div.checkbox-task-list {
    float: left;
    padding-top: 0!important;
}

div.checkbox-filter-date {
    padding-right: 10px;
    padding-bottom: 8px;
}

table.school-lessons {
    border-collapse: collapse;
    width: 99%;
}

table.school-lessons th {
    font-weight: bold;
    text-align: center;
}

table.school-lessons td {
    border: 1px solid;
    border-color: transparent;
    border-bottom-color: #85929E;
}

table.school-lessons td:nth-child(1),table.school-lessons td:nth-child(3),table.school-lessons td:nth-child(4) {
    text-align: center;
}

table.school-lessons td:nth-child(2) {
    padding-left: 20px;
}

table.school-lessons td .radio {
    padding-top: 5px;
}

div.spacer {
   height: 80px;
}

div.spacer50 {
   height: 50px;
}

div.spacer30 {
    height: 30px;
}

div.spacer10 {
    height: 10px;
}