
body, table{
    background-color: #f4f4f4;
    padding: 70px 0 0 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

 .checkbox, .radio {
    margin-top: 0px;
    margin-bottom: 7px;
}

.checkbox label::after {
    font-size: 20px;
    width: 26px;
    height: 26px;
}

.checkbox label::before {
    width: 27px;
    height: 27px;
}

.checkbox label {
    padding-left: 15px;
    font-size: 19px;
}

div .data-field {
    border: 1px solid #B0B0B0;
    margin: 10px;
    padding: 10px;
}

table.task_list td, th {
    vertical-align: middle !important;
}

table.task_list td > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.add-task td{
    padding: 10px;
}

table.add-task td#id_topic {
    width: 200px;
}

table.task_list th:first-child.col-md-1-id {
    width: 1%;
}

h3.lesson-passed {
    margin-top: 0 !important;
    margin-bottom: 2px !important;
    text-align: center !important;
}

div.error-block {
    color: red;
}


div.checkbox-task-list {
    float: left;
}