@font-face {
    font-family: 'DINWebPro-Bold';
    src: url('../fonts/DINWebPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINWebPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DINWebPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/DINCompPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'DINWebPro';
    src: url('../fonts/DINWebPro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINWebPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DINWebPro.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/DINCompPro.ttf') format('truetype'); /* Safari, Android, iOS */
}

body, table {
    background-color: #FFF;
    padding: 70px 0 0 0;
    color: #000;
    font-family: "DINWebPro", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.checkbox, .radio {
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 0px;
!important;
}

div.data-field {
    border: 1px solid #B0B0B0;
    margin: 10px;
    padding: 10px;
}

table.task_list td, th {
    vertical-align: middle !important;
}

table > thead > tr > th {
    font-weight: bold;
}

table.task_list td > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.task_list td:nth-child(2), table.task_list td:nth-child(3), table.task_list td:nth-child(4) {
    padding-left: 10px;
}

table.task_list td:nth-child(5), table.task_list td:nth-child(6) {
    text-align: center;
}

table.add-task td {
    padding: 10px;
}

table.add-task td#id_topic {
    width: 200px;
}

table.task_list th:first-child.col-md-1-id {
    width: 1%;
    text-align: center;
}

h3.lesson-passed {
    margin-top: 0 !important;
    margin-bottom: 2px !important;
    text-align: center !important;
}

div.error-block {
    color: red;
}

div.checkbox-task-list {
    float: left;
    padding-top: 0 !important;
    min-height: 0 !important;
}

div.checkbox-filter-date {
    padding-right: 10px;
    padding-bottom: 8px;
}

table.school-lessons {
    border-collapse: collapse;
}

table.school-lessons tbody {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
}

table.school-lessons thead > tr {
    display: block;
    width: 100%;
}

table.school-lessons th {
    font-weight: bold;
    text-align: center;
}

table.school-lessons td {
    border: 1px solid;
    border-color: transparent;
    border-bottom-color: #85929E;
}

table.school-lessons td:nth-child(1), table.school-lessons td:nth-child(3), table.school-lessons td:nth-child(4) {
    text-align: center;
}

table.school-lessons td:nth-child(2) {
    padding-left: 20px;
}

table.school-lessons td .radio {
    padding-top: 5px;
}

table.school-lessons span#lesson_repeat_counter {
    font-size: 10px;
}

div.spacer {
    height: 80px;
}

div.spacer50 {
    height: 50px;
}

div.spacer30 {
    height: 30px;
}

div.spacer10 {
    height: 10px;
}

.table-nonfluid {
    width: auto;
}

div.panel-zero-padding {
    padding: 0px;
}

div.panel-zero-padding table {
    width: 100%;
    margin: 0px;
}

.chosen-single {
    display: block;
    height: 38px !important;
    padding: 9px 12px !important;
    font-size: 13.5px !important;
    line-height: 1.42857143 !important;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
}

.chosen-container-active .chosen-single {
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#id_presentation_date_day {
    min-width: 85px !important;
}

#id_presentation_date_year {
    min-width: 85px !important;
}

a:hover, a:focus {
    color: #000;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.schooltask-history table {
    font-size: 11px;
}

.schooltask-history div.panel-heading {
    padding: 5px 15px;
    font-weight: bold;
}

.task-list .task-row {
    margin: 0;
    display: table;
    float: none;
    margin: 0;
    border-top: 1px dotted #d2d2d2;
    height: 25px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    line-height: 12px;
    font-weight: 400;
    text-decoration: none;
}

table.tasks > thead > tr.task-1,
table.tasks > tbody > tr.task-1 {
    background-color: #CCCCCC;
}

table.tasks > thead > tr.task-2,
table.tasks > tbody > tr.task-2 {
    background-color: #c0c0c0;
}

table.tasks > thead > tr.task-3,
table.tasks > tbody > tr.task-3 {
    background-color: #9d9d9d;
}

table.tasks > thead > tr.task-4,
table.tasks > tbody > tr.task-4 {
    background-color: #e8e8e8;
}

table.tasks > thead > tr.task-1:hover,
table.tasks > tbody > tr.task-1:hover {
    background-color: #b9def0;
}

table.tasks > thead > tr.task-2:hover,
table.tasks > tbody > tr.task-2:hover {
    background-color: #b9def0;
}

table.tasks > thead > tr.task-3:hover,
table.tasks > tbody > tr.task-3:hover {
    background-color: #b9def0;
}

table.tasks > thead > tr.task-4:hover,
table.tasks > tbody > tr.task-4:hover {
    background-color: #b9def0;
}

.task-content ul li {
    position: relative;
    float: left;
    margin: 20px 0 0 20px;
}

.checkbox label::before {
    line-height: 0px;
}

.checkbox label::after {
    line-height: 15px;
    text-align: justify;
}

.checkbox-no-border span::after {
    border: none;
    font-family: "FontAwesome";
    content: "\f00c";
}

table.member-task-history tr.task-master {
    font-weight: bolder;
}

table.member-task-history tr.task-slave {
    font-size: larger;
    font-style: italic;
}
