{% extends "base.html" %}

{% load i18n %}
{% block head %}
    <script type='text/javascript'>

        function get_lessons() {
            var member_id = $("#id_person").val();
            $.ajax({
                url: '/school/lessons/passed/' + member_id,
                success: function (data) {
                    console.log(data);
                    $("#school_task_content").html(data);
                    $("#id_slave").change(function () {
                        get_member_history("#id_slave", "#slave_history");
                    });
                    if ($("#id_slave").val() != "") {
                        get_member_history("#id_slave", "#slave_history");
                    }
                }
            });
        }

        function get_member_history(member_id, id) {
            var member_id = $(member_id).val();
            $.ajax({
                url: '/school/member/history/' + member_id,
                success: function (data) {
                    console.log(data);
                    $(id).show();
                    $(id).html(data);
                }
            });
        }
{#        $(window).on('load', function () {#}
{#            $("#id_person").change(function () {#}
{#                get_lessons();#}
{#                get_member_history("#id_person", "#master_history");#}
{#            });#}
{#            if ($("#id_person").val() != "") {#}
{#                get_lessons();#}
{#                get_member_history("#id_person", "#master_history");#}
{#            }#}
{#        });#}
        $(window).on('load', function () {
            $(function() {
                $("#id_meeting_item").focus();
            });

            $("#id_person").change(function () {
                get_lessons();
                get_member_history("#id_person", "#master_history");
            });
            $("#id_slave").change(function () {
                get_member_history("#id_slave", "#slave_history");
            });

            if ($("#id_person").val() != "") {
                //get_lessons();
                get_member_history("#id_person", "#master_history");
                get_member_history("#id_slave", "#slave_history");
            }
            if ($("#id_slave").val() != "") {
                get_member_history("#id_slave", "#slave_history");
            }

            $(".chosen-select").chosen();
        });
    </script>
{% endblock %}


{% block content %}
    <form method="POST" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="col-md-offset-3 col-md-8">
            <div class="col-md-8">
                {{ task_form.as_div }}
            <div id="master_history"></div>
            <div class="clearfix"></div>
                {% if school_task_form %}
                    <div class="form-group">
                        <label for="{{ school_task_form.slave.id_for_label }}">{{ school_task_form.slave.label }}</label>
                            {{ school_task_form.slave.errors }}
                            {{ school_task_form.slave }}
                        </div>
                        <div id="{{ school_task_form.slave.id_for_label }}"></div>
                        <div id="slave_history"></div>
                        <div class="clearfix"></div>
                        <div>
                            <div class="error-block">
                                {{ school_task_form.lesson_number.errors|default_if_none:school_task_form.lesson.errors }}
                                {{ school_task_form.lesson.errors }}
                            </div>
                            <label for="{{ school_task_form.lesson_number.id_for_label }}">{{ school_task_form.lesson_number.label }}</label>
                            {{ school_task_form.lesson_number }}
                        </div>
                        <div class="spacer10"></div>
                        <div id="school_task_content">
                            {% include "add_task_school.inc.html" %}
                        </div>
                        <div class="form-group">
                            <label for="{{ school_task_form.background.id_for_label }}">{{ school_task_form.background.label }}</label>
                            {{ school_task_form.background.errors }}
                            {{ school_task_form.background }}
                        </div>
                        <div class="form-group">
                            <label for="{{ school_task_form.description.id_for_label }}">{{ school_task_form.description.label }}</label>
                            {{ school_task_form.description.errors }}
                            {{ school_task_form.description }}
                        </div>
                            <button type="submit" class="btn btn-lg btn-warning" name="Add">{% trans "Add task" %}</button>
                        </div>
                {% endif %}
        </div>
    </form>
{% endblock %}