{% extends "base.html" %}

{% block head %}
    <script type='text/javascript'>

        function set_result(obj, task_id, result) {
            if (result == "fail")
                $("#"+task_id+"_ok").attr('checked', false);
            else
                $("#"+task_id+"_fail").attr('checked', false);

            $.ajax({
                url: "/school/tasks/" + task_id + "/result/",
                data: {'result': result, csrfmiddlewaretoken: '{{ csrf_token }}'},
                type: 'post',
                success: function (data) {
                }
            });
        }

        function get_pdf_content(task_to_print) {
            $.ajax({
                url: "/school/tasks/print/",
                data: {
                    'tasks_ids': JSON.stringify(task_to_print, null)
                    , csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'post',
                success: function (data) {
                    console.log(data);
                }
            });
            return false;
        }

        $(window).on('load', function () {
            $("#print_button").click(function () {
                $("form#pdf_form").attr('action', '/school/tasks/print/')
                $("#pdf_form").attr('target', 'downloadFrame');
                $("form#pdf_form").submit();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% load i18n %}
    <iframe id="downloadFrame" name="downloadFrame" style="display:none"></iframe>

    <h2>
    <span class="label label-primary">{% trans "Week" %} {{ current_week.week_start|date:"j.m" }}
            {% if current_week.week_start.year != current_week.week_end.year %}.
                {{ current_week.week_start.year }}{% endif %} -
    {{ current_week.week_end|date:"j.m" }}{% if current_week.week_start.year != current_week.week_end.year %}.
        {{ current_week.week_end.year }}{% endif %}</span>
    </h2>

    <div class="pull-right">
        <h4 style="display: inline"><a href="/school/plan/{{ prev_plan_date }}"> <<< </a></h4>
        <h4 style="display: inline"><a href="/school/plan/{{ next_plan_date }}"> >>> </a></h4>
    </div>
    <div class="spacer30"></div>
    <div style="clear: both;"></div>

    <form method="POST" class="form-horizontal" role="form" id="pdf_form">
        {% csrf_token %}
        <input type="hidden" id="start_week" name="start_week" value="{{ current_week.week_start|date:"j.m" }}">
        <input type="hidden" id="end_week" name="end_week" value="{{ current_week.week_end|date:"j.m" }}">
            <section class="tasks-section">
                <header class="tasks-header">
                    <div class="task-id">ID</div>
                    <div class="task-details">
                        <div class="fullname"><div class="ss"><div>{% trans "Meeting item" %}</div></div></div>
                        <div class="member-fullname">{% trans "Person" %}</div>
                        <div class="lesson-name">{% trans "Lesson name" %}</div>
                        <div class="presentation-date">{% trans "Presentation date" %}</div>
                        {% if perms.congregation.can_manage %}
                            <div class="lesson-passed">{% trans "Result" %}</div>
                            <div class="select-print">{% trans "Print" %}</div>
                        {% endif %}

                    </div>
                </header>
                    <ul class="task-list">
                    {% for task in tasks %}
                        <li class="task-row gallery-column1">
                            <div class="task-id">
                                    {% if perms.congregation.can_manage or task.task.person.user.id == user.id %}
                                        <a href="{{ task.get_absolute_url }}">{{ task.task.id }}</a>
                                    {% else %}
                                        {{ task.task.id }}
                                    {% endif %}
                            </div>
                            <div class="task-details">
                                <div class="fullname">
                                    {{ task.task.meeting_item.full_name }}
                                </div>
                                <div class="member-fullname">
                                    {% if perms.congregation.can_manage or task.task.person.user.id == user.id %}
                                        <a href="{{ task.task.person.get_absolute_url }}">{{ task.task.person }}</a>
                                    {% else %}
                                        {{ task.task.person }}
                                    {% endif %}
                                </div>
                                <div class="lesson-name">
                                    {{ task.lesson.name }}
                                </div>
                                <div class="presentation-date">
                                    {{ task.task.presentation_date }}
                                </div>
                                {% if perms.congregation.can_manage %}
                                    <div class="lesson-passed">
                                        {% if member.school_allow == None %}
                                            <div class="center-block">
                                                <div class="checkbox checkbox-danger checkbox-task-list">
                                                    <input type="checkbox" id="{{ task.task.id }}_fail" name="{{ task.task.id }}_fail"
                                                           onclick="set_result(this, {{ task.task.id }}, 'fail');"
                                                           {% if task.lesson_passed == False %}
                                                           checked
                                                           {% endif %}
                                                    >
                                                    <label for="{{ task.task.id }}_fail"></label>
                                                </div>
                                                <div class="checkbox checkbox-success checkbox-task-list">
                                                    <input type="checkbox" id="{{ task.task.id }}_ok" name="{{ task.task.id }}_ok"
                                                           onclick="set_result(this, {{ task.task.id }}, 'ok');"
                                                           {% if task.lesson_passed == True %}
                                                           checked
                                                           {% endif %}
                                                    >
                                                    <label for="{{ task.task.id }}_ok"></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <!--<h3>-->
                                        <!--<span class="label {% if task.lesson_passed %}label-success{% else %}
                                            label-danger{% endif %}">{{task.lesson_passed|yesno:"PASSED,FAIL,FAIL"}}</span>-->
                                        <!--</h3>-->
                                    </div>
                                    <div class="select-print">
                                        <div class="center-block">
                                            <div class="checkbox checkbox-primary checkbox-task-list">
                                                <input type="checkbox" id="print_{{ task.id }}" name="print"
                                                       value="{{ task.id }}" class="print_checkbox">
                                                <label for="print_{{ task.id }}"></label>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>

                        </li>
                    {% endfor %}
                    </ul>
            </section>
        {% if perms.congregation.can_manage %}
            <div class="spacer30">
            </div>
                <a href="/school/tasks/add" class="btn btn-lg btn-primary">{% trans "Add task" %}</a>
                <div class="pull-right">
                    <button type="submit" class="btn btn-lg btn-danger" name="Add" id="print_button">{% trans "Print selected" %}</button>
                </div>
        {% endif %}
    </form>

{% endblock %}