{% extends "base.html" %}

{% block head %}
<script type='text/javascript'>

    $(window).on('load', function() {
        $("#print_button").click(function () {
            $("form#pdf_form").attr('action', '/school/tasks/print/')
            $("#pdf_form").attr('target', 'downloadFrame');
            $("form#pdf_form").submit();
        });
    });
</script>
{% endblock %}

{% block content %}
{% load i18n %}
<iframe id="downloadFrame" name="downloadFrame" style="display:none"></iframe>

<div class="col-md-offset-3">
    <form method="POST" role="form" class="form-inline" id="filter-form">
        {% csrf_token %}
        <div class="form-group">
            {{ filter_form.as_div }}
        </div>
        <div class="clearfix spacer10"></div>
        <div class="col-md-offset-7">
            <button type="submit" class="btn btn-sm btn-danger" name="Filter" id="filter_button">{% trans "Search" %}</button>
        </div>
    </form>
</div>

<div class="clearfix spacer10"></div>
<div class="spacer30"></div>
<form method="POST" class="form-horizontal" role="form" id="pdf_form">
    {% csrf_token %}
    <div class="pull-right">
        {% if tasks.has_previous %}
            <h4 style="display: inline"><a href="?page={{ tasks.previous_page_number }}"> <<< </a></h4>
        {% endif %}

        <h4 style="display: inline">{% trans "Page" %} {{ tasks.number }} {% trans "of" %} {{ tasks.paginator.num_pages }}</h4>

        {% if tasks.has_next %}
            <h4 style="display: inline"><a href="?page={{ tasks.next_page_number }}"> >>> </a></h4>
        {% endif %}
    </div>
    <div class="clearfix spacer30"></div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed task_list">
            <thead>
                <th class="text-center">ID</th>
                <th class="text-center">{% trans "Person" %}</th>
                <th class="text-center">{% trans "Meeting item" %}</th>
                <th class="text-center">{% trans "Lesson name" %}</th>
                <th class="text-center">{% trans "Presentation date" %}</th>
                <th class="text-center">{% trans "Creation date" %}</th>
                <th class="text-center">{% trans "Result" %}</th>
                <th class="text-center">{% trans "Print" %}</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <th scope="row" class="text-center"><a href ="{{task.get_absolute_url}}">{{task.id}}</a></th>
                    <td class="col-xs-2"><a href="{{task.task.person.get_absolute_url}}">{{task.task.person}}</a></td>
                    <td class="col-xs-2">{{task.task.meeting_item.full_name}}</td>
                    <td class="col-xs-2">{{task.lesson.name}}</td>
                    <td class="col-xs-2">{{task.task.presentation_date}}</td>
                    <td class="col-xs-2">{{task.task.creation_date}}</td>
                    <td class="col-xs-1">
                        <h3 class="lesson-passed">
                            <span class="label {% if task.lesson.lesson_passed %}label-success{% else %}label-danger{% endif %}">{{task.lesson.lesson_passed|yesno:"PASSED,FAIL,FAIL"}}</span>
                        </h3>
                    </td>
                    <td>
                        <div class="checkbox checkbox-primary checkbox-task-list">
                            <input type="checkbox" id="print_{{task.id}}" name="print" value="{{task.id}}" class="print_checkbox">
                            <label for="print_{{task.id}}"></label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if perms.congregation.can_manage %}
        <div class="spacer10"></div>
        <a href="/school/tasks/add" class="btn btn-lg btn-primary">{% trans "Add task" %}</a>
        <div class="pull-right">
            <button type="submit" class="btn btn-lg btn-danger" name="Add" id="print_button">{% trans "Print selected" %}</button>
        </div>
    {% endif %}
</form>

{% endblock %}