{% extends "base.html" %}

{% block head %}
    <script type='text/javascript'>

        $(window).on('load', function () {
            $("#print_button").click(function () {
                $("form#pdf_form").attr('action', '/school/tasks/print/')
                $("#pdf_form").attr('target', 'downloadFrame');
                $("form#pdf_form").submit();
            });

            $("input#id_start_active").click(function () {
                if ($(this).is(':checked')) {
                    $("div select[name^=start]").removeAttr('disabled')
                    $("button#filter_button").removeAttr('disabled')
                } else {
                    $("div select[name^=start]").attr('disabled', "on")
                    if (!$("input#id_end_active").is(":checked")) {
                        $("button#filter_button").attr('disabled', "on")
                    }
                }
            })

            $("input#id_end_active").click(function () {
                if ($(this).is(':checked')) {
                    $("div select[name^=end]").removeAttr('disabled')
                    $("button#filter_button").removeAttr('disabled')
                } else {
                    $("div select[name^=end]").attr('disabled', "on")
                    if (!$("input#id_start_active").is(":checked")) {
                        $("button#filter_button").attr('disabled', "on")
                    }
                }
            })
        });

        function set_result(obj, task_id, result) {
            if (result == "fail")
                $("#"+task_id+"_ok").attr('checked', false);
            else
                $("#"+task_id+"_fail").attr('checked', false);

            $.ajax({
                url: "/school/tasks/" + task_id + "/result/",
                data: {'result': result, csrfmiddlewaretoken: '{{ csrf_token }}'},
                type: 'post',
                success: function (data) {
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    {% load i18n %}
    <iframe id="downloadFrame" name="downloadFrame" style="display:none"></iframe>
    {{ filter_form.errors }}
    <div class="row col-lg-offset-2 col-lg-10">
        <form method="GET" role="form" class="form-inline" id="filter-form">
            <div class="form-group">
                {{ filter_form.start_active }}
            </div>
            <div class="form-group">
                {{ filter_form.start }}
            </div>
            <div class="form-group">
                {{ filter_form.end_active }}
            </div>
            <div class="form-group">
                {{ filter_form.end }}
            </div>
            <div class="clearfix spacer10"></div>
            <div class="col-lg-offset-8">
                <button type="submit" class="btn btn-sm btn-danger" name="action" id="filter_button" value="filter"
                        {% if not filter_form.start_active.value and not filter_form.end_active.value %}disabled{% endif %}>{% trans "Search" %}</button>
                <button type="submit" class="btn btn-sm btn-default" name="action" id="filter_button_month"
                        value="filter_month_now">{% trans "Show this month" %}</button>
                <a href="/school/tasks" class="btn btn-sm btn-default">{% trans "Show all" %}</a>
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
    <div class="spacer10"></div>
    <form method="POST" class="form-horizontal" role="form" id="pdf_form">
        {% csrf_token %}
            {% if tasks.has_other_pages %}
              <ul class="pagination">
                {% if tasks.has_previous %}
                  <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in tasks.paginator.page_range %}
                  {% if tasks.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only" style="font-size: x-large">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if tasks.has_next %}
                  <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        <div class="clearfix spacer10"></div>
            <section class="tasks-section">
                <header class="tasks-header">
                    <div class="task-id">ID</div>
                    <div class="task-details">
                        <div class="fullname"><div class="ss"><div>{% trans "Meeting item" %}</div></div></div>
                        <div class="member-fullname">{% trans "Person" %}</div>
                        <div class="lesson-name">{% trans "Lesson name" %}</div>
                        <div class="presentation-date">{% trans "Presentation date" %}</div>
                        <div class="presentation-date">{% trans "Creation date" %}</div>
                        <div class="lesson-passed">{% trans "Result" %}</div>
                        <div class="select-print">{% trans "Print" %}</div>
                    </div>
                </header>

                <ul class="task-list">
                {% for task in tasks %}
                    <li class="task-row">
                        <div class="task-id"><a href="{{ task.get_absolute_url }}">{{ task.task.id }}</a></div>
                        <div class="task-details">
                            <div class="fullname">
                                {{ task.task.meeting_item.full_name }}
                            </div>
                            <div class="member-fullname">
                                <a href="{{ task.task.person.get_absolute_url }}">{{ task.task.person }}</a>
                            </div>
                            <div class="lesson-name">
                                {{ task.lesson.name }}
                            </div>
                            <div class="presentation-date">
                                {{ task.task.presentation_date }}
                            </div>
                            <div class="presentation-date">
                                {{ task.task.creation_date }}
                            </div>
                            <div class="lesson-passed">
                                {% if perms.congregation.can_manage %}
                                    <div class="lesson-passed">
                                        {% if member.school_allow == None %}
                                            <div class="center-block">
                                                <div class="checkbox checkbox-danger checkbox-task-list">
                                                    <input type="checkbox" id="{{ task.task.id }}_fail" name="{{ task.task.id }}_fail"
                                                           onclick="set_result(this, {{ task.task.id }}, 'fail');"
                                                           {% if task.lesson_passed == False %}
                                                           checked
                                                           {% endif %}
                                                    >
                                                    <label for="{{ task.task.id }}_fail"></label>
                                                </div>
                                                <div class="checkbox checkbox-success checkbox-task-list">
                                                    <input type="checkbox" id="{{ task.task.id }}_ok" name="{{ task.task.id }}_ok"
                                                           onclick="set_result(this, {{ task.task.id }}, 'ok');"
                                                           {% if task.lesson_passed == True %}
                                                           checked
                                                           {% endif %}
                                                    >
                                                    <label for="{{ task.task.id }}_ok"></label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <!--<h3>-->
                                        <!--<span class="label {% if task.lesson_passed %}label-success{% else %}
                                            label-danger{% endif %}">{{task.lesson_passed|yesno:"PASSED,FAIL,FAIL"}}</span>-->
                                        <!--</h3>-->
                                    </div>
                                    <div class="select-print">
                                        <div class="center-block">
                                            <div class="checkbox checkbox-primary checkbox-task-list">
                                                <input type="checkbox" id="print_{{ task.id }}" name="print"
                                                       value="{{ task.id }}" class="print_checkbox">
                                                <label for="print_{{ task.id }}"></label>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="select-print">
                                <div class="checkbox checkbox-primary checkbox-task-list">
                                    <input type="checkbox" id="print_{{ task.id }}" name="print" value="{{ task.id }}"
                                           class="print_checkbox">
                                    <label for="print_{{ task.id }}"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>

            {% if tasks.has_other_pages %}
              <ul class="pagination">
                {% if tasks.has_previous %}
                  <li><a href="?page={{ tasks.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in tasks.paginator.page_range %}
                  {% if tasks.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only" style="font-size: x-large">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if tasks.has_next %}
                  <li><a href="?page={{ tasks.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        {% if perms.congregation.can_manage %}
            <div class="spacer30"></div>
            <a href="/school/tasks/add" class="btn btn-lg btn-primary">{% trans "Add task" %}</a>
            <div class="pull-right">
                <button type="submit" class="btn btn-lg btn-danger" name="Add"
                        id="print_button">{% trans "Print selected" %}</button>
            </div>
        {% endif %}


    </form>

{% endblock %}