{% extends "base.html" %}


{% block content %}
{% load i18n %}
<div class="table-responsive">
    <table class="table table-hover table-striped table-condensed tasks">
    <thead>
        <th>{% trans "No." %}</th>
        <th>{% trans "Congregation member" %}</th>
        <th>{% trans "Active" %}</th>
        <th>{% trans "School allow" %}</th>
        <th>{% trans "Pionner" %}</th>
        <th>{% trans "Servant" %}</th>
        <th>{% trans "Elder" %}</th>
    </thead>

    <tbody>
    {% for member_id, member in cong_members.items %}
        <tr>
            <td><a href="{{member.member.get_absolute_url}}">{{member_id}}</a></td>
            <td>
                <a href="{{member.member.get_absolute_url}}">{{member.member.user.username}}</a>
            </td>
            <td>
                <div class="checkbox-no-border"><span></span></div>
            </td>
            <td>
                <div class="checkbox-no-border">
                    {%  if member.privileges.school_member %}<span></span>{% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox-no-border">
                    {%  if member.privileges.pioneer %}<span></span>{% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox-no-border">
                    {%  if member.privileges.servant %}<span></span>{% endif %}
                </div>
            </td>
            <td>
                <div class="checkbox-no-border">
                    {%  if member.privileges.elder %}<span></span>{% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
