{% extends "base.html" %}
{% block navbar %}
    <li class="active"><a href="/congregation">Zbór</a></li>
    <li><a href="./">Zebrania</a></li>
    <li><a href="./">Szkoła</a></li>

{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th>Congregation name</th>
                <th>Congregation number</th>
                <th>Default</th>
            </thead>
            <tbody>
                {% for congregation in congregations %}
                <tr>
                    <td>{{congregation.name}}</td>
                    <td>{{congregation.number}}</td>
                    <td><input type="checkbox"></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
