{% extends "base.html" %}

{% block head %}
<script type='text/javascript'>

    function set_result(obj, task_id, result) {
        $.ajax({
            url: "/school/tasks/"+ task_id +"/result/",
            data: {'result': result, csrfmiddlewaretoken: '{{ csrf_token }}'},
            type: 'post',
            success: function(data) {

            }
        });
    }
</script>
{% endblock %}

{% block content %}
{% load i18n %}
<div class="pull-left">
<form method="GET" action="/school/plan/{{prev_plan_date}}">
    <button type="submit" class="btn btn-xs btn-danger"><<<</button>
</form>
</div>

<div class="pull-right">
<form method="GET" action="/school/plan/{{next_plan_date}}">
    <button type="submit" class="btn btn-xs btn-success">>>></button>
</form>
</div>

<div style="clear: both;"></div>
<h2>
    <span class="label label-info">{% trans "Week" %} {{current_week.week_start|date:"j.m"}}{% if current_week.week_start.year != current_week.week_end.year %}.{{current_week.week_start.year}}{% endif %} -
        {{current_week.week_end|date:"j.m"}}{% if current_week.week_start.year != current_week.week_end.year %}.{{current_week.week_end.year}}{% endif %}</span>
</h2>
<br>
<div class="center-block">
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed task_list">
        <thead>
            <th class="text-center">ID</th>
            <th class="text-center">{% trans "Meeting item" %}</th>
            <th class="text-center">{% trans "Person" %}</th>
            <th class="text-center">{% trans "Lesson name" %}</th>
            <th class="text-center">{% trans "Presentation date" %}</th>
            <th class="text-center">{% trans "Creation date" %}</th>
            <th class="text-center">{% trans "Result" %}</th>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <th scope="row" class="text-center"><a href ="{{task.get_absolute_url}}">{{task.task.id}}</a></th>
                <td class="col-xs-2">{{task.task.meeting_item.full_name}}</td>
                <td class="col-xs-2"><a href="{{task.task.person.get_absolute_url}}">{{task.task.person}}</a></td>
                <td class="col-xs-2">{{task.lesson.name}}</td>
                <td class="col-xs-2">{{task.task.presentation_date}}</td>
                <td class="col-xs-2">{{task.task.creation_date}}</td>
                <td>
                    {% if perms.school.can_judge_tasks %}
                    {% if member.school_allow == None %}
                        <div class="checkbox checkbox-danger">
                            <input type="checkbox" id="{{task.id}}_fail" name="{{task.id}}_fail" onclick="set_result(this, {{task.id}}, 'fail');">
                            <label for="{{task.id}}_fail">{% trans "FAIL" %}</label>
                        </div>
                    <div></div>
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" id="{{task.id}}_ok" name="{{task.id}}_ok" onclick="set_result(this, {{task.id}}, 'ok');">
                            <label for="{{task.id}}_ok">{% trans "OK" %}</label>
                        </div>
                    {% endif %}
                    {% else %}
                    {% endif %}
                    <!--<h3>-->
                        <!--<span class="label {% if task.lesson_passed %}label-success{% else %}label-danger{% endif %}">{{task.lesson_passed|yesno:"PASSED,FAIL,FAIL"}}</span>-->
                    <!--</h3>-->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}